.container{
	max-width: 980px;
	padding-left: 0px;
	padding-right: 0px;
}

.row {
	margin-bottom: 20px;
}

#test{
	background-color: green;
	
	
}
.rimage{
	text-align: right;
}
.limage{
	text-align: left;
}

#header {
	position: fixed;
	z-index: 10;
	background-color: rgba(9, 109, 22, 0.75);
	max-width: 980px;
}

@media (max-width: 767px) {
#header {
	position: inherit;
	z-index: 10;
	background-color: rgba(9, 109, 22, 0.75);
	max-width: 980px;
}

 }

 @media (max-width: 991px) {
 	 .limage {
 	 	text-align: center;
 	 }
 	 .rimage {
 	 	text-align: center;
 	 }
 }

