footer {
    background-color: #333333;
    padding-bottom: 40px;

}
footer ul {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.FooterSocial{
  padding-top: 20px;
}
.FooterSocialItems {
    color: white;
    float: left;
    position: relative;
    display: block;
    padding: 10px 15px;
}

.footp {
padding-bottom: 0px;
}
