html, body{
	position:relative;
  overflow-x: hidden;
  overflow-y: scroll;
}
.NavLinkStyle {
	color: black;
    font-size: x-large;
    font-family: serif;
}


/*Navbar styles*/
#getaquote{
	padding-top:1%;
	margin-top: 5px;
	padding-left: 68px;
}
.navbar{
	max-width: 980px;
}




#colswap{
	padding-right: 3%;
}
.container{
	max-width: 980px;
	padding-left: 0px;
	padding-right: 0px;
}

.row {
	margin-bottom: 20px;
}

#test{
	background-color: green;
	
	
}
.rimage{
	text-align: right;
}
.limage{
	text-align: left;
}

#header {
	position: fixed;
	z-index: 10;
	background-color: rgba(245, 245, 245, 0.73);
	max-width: 970px;
}
.navbar-default {
    background-color: rgba(245, 245, 245, 0.73);
    border-color: #e7e7e7;
}




@media (max-width: 767px) {
.navbar-nav{
	width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.NavLinkStyle {
	color: black;
    font-size: 12px;
    font-family: serif;
}

}
 }

 @media (min-width:767px) and (max-width: 991px) {
 	.navbar{
	max-width: 750px;
}
 	#getaquote{
	padding-top:0px;
	margin-top: 5px;
	padding-left: 0px;
}
.nav-links{
	padding-left: 10%;
	font-size: 20px;
}
.NavLinkStyle {
	font-size: 20px;
}
 }
 @media (max-width: 991px) {
  	 .limage {
 	 	text-align: center;
 	 }
 	 .rimage {
 	 	text-align: center;
 	 }
 	 #mi{
	display: none;
}
 }
 @media (max-width: 450px) {
#colswap {
	width: 58.33333333%;
	padding-right: 0px;
}
#logo{
	display: none;
}
.nav-links{
	padding-left: none;
	font-size: 20px;
}
 }
 @media (min-width: 992px) and (max-width: 1200px) {
.navbar{
	max-width: 970px;
}
.nav-links{
	padding-left: 11%;
}
 }


 @media (min-width: 1200px) {
 .nav-links{
	padding-left: 11%;
}
 }



 .overlay {
   background:transparent; 
   position:relative; 
   width:980px;
   height:340px; /* your iframe height */
   top:340px;  /* your iframe height */
   margin-top:-340px;  /* your iframe height */
}


